[Unit]
Description=Statistics collection and monitoring daemon
After=local-fs.target network.target
Requires=local-fs.target network.target
ConditionPathExists=/etc/collectd/collectd.conf
Documentation=man:collectd(1)
Documentation=man:collectd.conf(5)
Documentation=https://collectd.org

[Service]
SyslogIdentifier=collectd
Type=notify
NotifyAccess=main
RuntimeDirectory=collectd
EnvironmentFile=-/etc/default/collectd
ExecStartPre=/bin/bash /usr/share/graphs1090/readback.sh
ExecStartPre=/usr/sbin/collectd -t
ExecStart=/usr/sbin/collectd
ExecStopPost=/bin/bash /usr/share/graphs1090/writeback.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
