[Unit]
Description=Statistics collection and monitoring daemon
After=local-fs.target network.target
Requires=local-fs.target network.target
ConditionPathExists=/etc/collectd/collectd.conf
Documentation=man:collectd(1)
Documentation=man:collectd.conf(5)
Documentation=https://collectd.org

[Service]
Type=notify
NotifyAccess=main
RuntimeDirectory=collectd
EnvironmentFile=-/etc/default/collectd
ExecStart=/usr/sbin/collectd
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
